body {
  font-family: Inter;
  color: #433d3d;
}

.login-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.login-content {
  margin: 0 auto;
  padding-top: 2.5rem;
  width: 100%;
  max-width: 576px;
}

.login-content > div {
  display: flex;
  align-items: center;
  gap: 11.25rem;
}

.login-content > div div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.login-form h1 {
  margin-top: 3rem;
  margin-bottom: 4.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.login-form div label {
  margin-bottom: 1rem;
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
}

.login-form div input {
  margin-bottom: 2.5rem;
  padding-left: 1rem;
  width: 100%;
  height: 48px;
  font-size: 0.875rem;
  color: #433d3d;
  border: 1px solid #f4f2f2;
  border-radius: 6px;
  box-sizing: border-box;
  transition: 0.3s;
}

.login-form div input::placeholder {
  color: #a49b9b;
  font-size: 0.875rem;
}

.login-form div input:hover {
  border: 1px solid #9cc042;
}

.login-form div input:focus {
  outline: none;
  border: 1px solid #9cc042;
}

.login-form span {
  margin-bottom: 4.5rem;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 400;
  color: #9cc042;
  cursor: pointer;
}

.login-form span::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #9cc042;
}

.login-bg {
  display: flex;
  background-color: #9cc042;
}
