.btn {
  height: 48px;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 6px;
  color: #fff;
  background-color: #5089c6;
  transition: 0.3s;
}

.primary.btn {
  width: 100%;
  display: block;
  cursor: pointer;
}

.icon.btn {
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.btn:hover {
  background-color: #376da8;
}
