main {
  display: flex;
  flex-direction: column;
}

.crud-content {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.crud-content div h1 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.crud-content div span {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: #9cc042;
}
