.crud-grid {
  display: grid;
  grid-template-columns: 216px 1fr;
}

.crud-menu {
  padding-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.crud-menu > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crud-menu nav {
  margin-top: 5.5rem;
  margin-bottom: 6.5rem;
}

.crud-menu nav ul li a {
  padding: 1.5rem 0 1.5rem 3rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  position: relative;
}

.exit.icon.btn {
  margin-bottom: 6rem;
}

.crud-menu nav ul li a:hover,
a.active {
  background-color: #e6efd0;
}

.crud-menu nav ul li a:hover::before,
a.active::before {
  content: "";
  margin-left: -3rem;
  display: block;
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #9cc042;
}
