.crud-top {
  margin: 0 auto;
  width: 100%;
  height: 64px;
  background-color: #c1d889;
}

.crud-top > div {
  margin: 1.25rem 3rem 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box,
.user {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}

.search-box {
  max-width: 280px;
  height: 24px;
  background-color: #fff;
  border-radius: 6px;
}

.search-box label {
  margin-left: 1rem;
  cursor: pointer;
}

.search-box input {
  border: none;
  background-color: none;
  outline: none;
}

.search-box input::placeholder {
  color: #a49b9b;
  font-size: 0.75rem;
}

.user {
  font-size: 0.75rem;
  font-weight: 600;
}
